#header {
  background: #5B8EDC;
  color: white;
}
#header h1 {
  font-family: 'propagandaregular';
  margin: 0;
  padding-top: 20px;
}
#header a {
  color: white;
  text-decoration: none;
}
#header .organization {
  font-style: italic;
}
#nav {
  padding: 0;
}
#nav ul.nav {
  clear: both;
  display: flex;
  font-weight: bold;
  border-bottom: #eee 1px solid;
}
#logo {
  float: left;
}
#logo img {
  width: 100px;
}
