-# List representatives' groups
  
- extends 'base.html'
- load by_group_url

- block content
  %ul
    - for group in groups
      %li
        %a{'href': '{{ group | by_group_url }}'}
          - if group.abbreviation
            {{ group.abbreviation }} . 
          {{ group.name }}
