- extends 'base.html'

- load representatives_extras

- block content

  - include 'legislature/search.html'
  - include 'core/blocks/pagination.html'

  %table.table
    %tr
      %th
        Photo
      %th
        Name
      %th
        Country
      %th
        Group
      %th
        Score
    - for representative in object_list
      %tr
        %td
          %a{'href': "{% url 'legislature:representative-detail' name=representative.slug %}"}
            %img{'src': '={representative.photo}', 'width': '80'}/

        %td
          %a{'href': "{% url 'legislature:representative-detail' name=representative.slug %}"}
            = representative.full_name

        %td
          %a{'href': "{% url 'legislature:representative-index' group_kind='country' group=representative.country.code %}"}
            = representative.country|country_flag

        %td
          %a{'href': "{{ representative.main_mandate|by_group_url }}"}
            = representative.main_mandate.group.abbreviation
        %td
          = representative.score|score_label

  - include "core/blocks/pagination.html"
