- load by_mandate_url

%td
  %a{'href': "{% url 'legislature:representative_view_by_name' representative.full_name %}"} 
    %img{'src': '={representative.photo}', 'width': '80'}/

%td
  %a{'href': "{% url 'legislature:representative_view_by_name' representative.full_name %}"} 
    ={representative.full_name}

%td
  %a{'href': "{% url 'legislature:representatives_by_mandate' mandate_kind='country' search=representative.country.code %}"}
    ={representative.country.name}

%td
  %a{'href': "{{ representative.current_group|by_mandate_url }}"}
    ={representative.current_group.group.abbreviation}
