- extends 'base.html'

- load representatives_extras

- block content

  - include 'legislature/search.html'
  - include "core/blocks/pagination.html"

  .representative_grid
    - for representative in object_list
      .representative_item
        %p.photo
          %a{'href': "{% url 'legislature:representative-detail' name=representative.slug %}"}
            %img{'src': '={representative.photo}', 'width': '80'}/
        %ul
          %li.name
            %a{'href': "{% url 'legislature:representative-detail' name=representative.slug %}"}
              = representative.full_name
          %li.country
            %a{'href': "{% url 'legislature:representative-index' group_kind='country' group=representative.country.code %}"}
              = representative.country|country_flag
          %li.mandate
            %a{'href': "{{ representative.main_mandate|by_group_url }}"}
              = representative.main_mandate.group.abbreviation
          %li.score
            = representative.score|score_label

  - include "core/blocks/pagination.html"
