@font-face {
  font-family: 'propagandaregular';
  src: url('../fonts/propagan-webfont.eot');
  src: url('../fonts/propagan-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/propagan-webfont.woff') format('woff'), url('../fonts/propagan-webfont.ttf') format('truetype'), url('../fonts/propagan-webfont.svg#propagandaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sansus_webissimoitalic';
  src: url('../fonts/sansus_webissimo-italic-webfont-webfont.eot');
  src: url('../fonts/sansus_webissimo-italic-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sansus_webissimo-italic-webfont-webfont.woff') format('woff'), url('../fonts/sansus_webissimo-italic-webfont-webfont.ttf') format('truetype'), url('../fonts/sansus_webissimo-italic-webfont-webfont.svg#sansus_webissimoitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sansus_webissimoregular';
  src: url('../fonts/sansus_webissimo-regular-webfont-webfont.eot');
  src: url('../fonts/sansus_webissimo-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sansus_webissimo-regular-webfont-webfont.woff') format('woff'), url('../fonts/sansus_webissimo-regular-webfont-webfont.ttf') format('truetype'), url('../fonts/sansus_webissimo-regular-webfont-webfont.svg#sansus_webissimoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
#header {
  background: #5B8EDC;
  color: white;
}
#header h1 {
  font-family: 'propagandaregular';
  margin: 0;
  padding-top: 20px;
}
#header a {
  color: white;
  text-decoration: none;
}
#header .organization {
  font-style: italic;
}
#nav {
  padding: 0;
}
#nav ul.nav {
  clear: both;
  display: flex;
  font-weight: bold;
  border-bottom: #eee 1px solid;
}
#logo {
  float: left;
}
#logo img {
  width: 100px;
}
#footer {
  background: #5B8EDC;
  color: white;
  text-align: center;
  padding: 20px;
}
#footer a {
  color: white;
  text-decoration: underline;
}
.pagination-block {
  margin-bottom: 10px;
  color: #999;
  font-size: 0.9em;
}
.pagination-block nav {
  text-align: center;
}
.pagination-block .count {
  text-align: left;
}
table.detail-view > tbody > tr > td,
table.detail-view > tbody > tr > th {
  border-top: 0;
}
table.detail-view th {
  text-align: right;
}
table.detail-view th:after {
  content: ' :';
}
.icon-cell {
  text-align: center;
}
.representative h1 {
  text-align: center;
}
.representative p.photo {
  text-align: center;
}
.representative tr.score th {
  vertical-align: bottom;
}
.representative tr.score td {
  font-size: 1.4em;
}
.representative tr.score td .label {
  padding: 2px;
}
.positions form {
  width: 50%;
  margin: auto;
}
.vote_negative {
  color: red;
}
.vote_positive {
  color: green;
}
.vote_abstain {
  color: #333;
}
.representative_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.representative_grid .representative_item {
  width: 300px;
  margin: 2px;
  padding: 10px;
  background: #f5f5f5;
}
.representative_grid .representative_item .photo {
  float: left;
}
.representative_grid .representative_item .name {
  font-weight: bold;
}
.representative_grid .representative_item ul {
  list-style-type: none;
  text-indent: 10px;
}
.quote {
  width: 70%;
  margin: auto;
}
.quote-header {
  font-style: italic;
}
.long-quote p:first-child:before {
  content: '« ';
  font-style: italic;
  font-size: 1em;
}
.long-quote p:last-child:after {
  content: ' »';
  font-style: italic;
  font-size: 1em;
  text-align: right;
}
body {
  background: #E5E5E5;
}
.container,
.container-fluid {
  background: white;
}
.main-container {
  padding-top: 15px;
}
.label a {
  color: white;
}
.label {
  margin: 0 1px;
}
