- extends "base.html"

- block content
  %h1 Dossiers
  -# %p
    Number of dossier: {{ object_count }}

  %table.table
    - for dossier in object_list
      %tr
        %td
          %a{'href': "{% url 'votes:dossier-detail' pk=dossier.id %}"}
            {{ dossier.name }}
        %td= dossier.reference
        %td= dossier.proposals.count

  - include "core/blocks/pagination.html"
