- extends "base.html"

- block content

  -# - include 'legislature/search.html'

  %p
    Number of votes: {{ votes_num  }}

  %table
    - for vote in votes
      %tr
        %td
          {{ vote.title }}
      -# %tr
        -# - include '/representative_block.html'

  .pagination
    %span.step-links
      - if votes.has_previous
        %a{'href': '?={queries.urlencode}&page=={votes.previous_page_number}'} previous

      %span.current
        Page ={votes.number} of ={votes.paginator.num_pages}

      - if votes.has_next
        %a{'href': '?={queries.urlencode}&page=={votes.next_page_number}'} next
