[run]
omit =
	src/representatives_positions/contrib/*
	src/representatives_recommendations/contrib/*
	src/representatives/tests/*
	src/representatives/migrations/*
	src/representatives/contrib/francedata/tests/*
	src/representatives/contrib/parltrack/tests/*
