*.sqlite3
celerybeat-*
core/static/libs/*

# libs
static/libs
node_modules

# compiled css
static/stylesheets/*.min.css


# settings 
memopol/config.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
.dpl
db.sqlite
log/
