*.sqlite3
celerybeat-*
core/static/libs/*

# libs
static/libs

# settings 
memopol/config.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.cache
.coverage
*.egg-info

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
.dpl
*.sqlite
*.json.xz
log/

/data
data/

# editors
*~
