django>=1.8,<1.9
#django-appconf==1.0.1
#-e hg+https://bitbucket.org/wnielson/django-chronograph#egg=django-chronograph
django-compressor
hamlpy
python-dateutil
pytz
six
wsgiref
django-adminplus
requests
django-celery
django-denorm
django-constance
django-bootstrap3
django-filter
django-taggit
django-datetime-widget
-e git+https://github.com/political-memory/django-representatives.git#egg=django-representatives
-e git+https://github.com/political-memory/django-representatives-votes.git#egg=rdjango-epresentatives-votes
django-extensions
django-debug-toolbar
redis
djangorestframework
