{% load humanize %}
{% load i18n %}
{% load representatives_positions_tags %}

{% if not positions %}
{# TODO: link #}
<p>No public position has been recorded. You can always <a>add a public position</a>.</p>
{% else %}

<table class="table table-responsive custom-timeline text-center">
  <thead>
	<tr>
	  <th class="text-center">{% trans "Before" %}</th>
	  <th class="text-center">{% trans "Last year" %}</th>
	  <th class="text-center">{% trans "Last 6 months" %}</th>
	  <th class="text-center">{% trans "This month" %}</th>
	</tr>
  </thead>
  
  <tbody>
	<tr>
      {% for timeframe in positions|regroup_by_age %}
	  <td>
        {% for position in timeframe %}
		<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapsePosition-{{ position.pk }}" aria-expanded="false" aria-controls="collapsePosition-{{ position.pk }}">
          {{ position.datetime|naturalday }}
		</button>
        {% endfor %}
	  </td>
      {% endfor %}
	</tr>
  </tbody>
</table>

{% for position in positions %}
<div class="collapse" id="collapsePosition-{{ position.pk }}">
  <div class="panel panel-default">
	<div class="panel-body text-justify">
	  <blockquote>
		<p>{{ position.text }}</p>
	  </blockquote>
      {% if position.link %}
	  <p class="text-right"><a class="btn btn-primary" href="{{ position.link }}" target="blank">Check the source &raquo;</a></p>
      {% endif %}
	</div>
  </div>
</div>
{% endfor %}

{% endif %}
