{% load humanize %}
{% load representatives_tags %}
{% load representatives_recommendations_tags %}

<div class="col-sm-9">
  <h1 class="text-left">{{ representative.full_name }}</h1>
  
  <div class="col-sm-9">
	<dl class="dl-horizontal">
	  <dt>Score</dt>
      <dd>
        <span class="badge" data-toggle="tooltip" data-placement="right" title="Le score est une somme de points attribués suivant si le MEP vote dans notre sens (positif) ou non (négatif) multiplié par le poids (importance) de ce vote.">{{ representative.score.score|score_label }}</span>&nbsp;&nbsp;<span class="glyphicon glyphicon-upload text-success"></span>
      </dd>

	  <dt>Country</dt>
      <dd><span class="glyphicon glyphicon-flag"></span> 
        {{ representative.country|country_flag }}
      </dd>

	  <dt>Party</dt>
      <dd>
        {% with mandate=representative.main_mandate %}
        <a href="{{ mandate.group.get_absolute_url }}">
          {{ mandate.group.name }}
          - {% if mandate.group.abbreviation %}{{ mandate.group.abbreviation }}{% endif %}
        </a>
        {% endwith %}
      </dd>

	  <dt>Biography</dt>
      <dd>Born in {{ representative.birth_place }} the {{ representative.birth_date|naturalday:'d/m/Y' }} ({{ representative.get_gender_display }})
      </dd>
	  
      {# <dt>More infos</dt><dd><a><span class="label label-primary"><span class="glyphicon glyphicon-grain"></span> Facebook</span></a> <a><span class="label label-primary"><span class="glyphicon glyphicon-plane"></span> Twitter</span></a> <a><span class="label label-primary"><span class="glyphicon glyphicon-tree-conifer"></span> Parliement</span></a></dd> #}
	</dl>
  </div>
