- load representatives_tags
- load representatives_recommendations_tags
- load humanize

.representative

  %h1.name<
    ={representative.full_name}

  .row
    .col-md-4
      %p.photo<
        %img{:src => "{{ representative.photo }}"}/

    .col-md-8
      %table.table.table-condensed.detail-view
        %tr.score
          %th Score
          %td
            = representative.score.score|score_label
        %tr
          %th Country
          %td<
            = representative.country|country_flag
        %tr
          %th Party
          %td<
            %a{:href => "{{ representative.main_mandate.group.get_absolute_url }}"}
              {{ representative.main_mandate.role }} of
              {{ representative.main_mandate.group.name }}
        %tr
          %th Biography
          %td<
            Born in {{ representative.birth_place }} the
            {{ representative.birth_date|naturalday:'d/m/Y' }}
            ({{ representative.get_gender_display }})
