- extends 'base.html'

- load memopol_tags
- load representatives_tags


- block content
  %table.table
    - for group in object_list
      %tr
        - if group.kind != 'country' and group.kind != 'chamber'
          %td
            %a{'href': "{% chamber_url group.chamber %}"}
              = group.chamber|chamber_icon

        %td
          %a{'href': "{% group_url group %}"}
            - if group.abbreviation
              ={group.abbreviation}
        %td
          %a{'href': "{% group_url group %}"}=
            - if group.kind == 'chamber'
              = group|chamber_icon
            - elif group.kind == 'group'
              = group|group_long_icon
            - else
              = group.name
