{% extends 'representatives/representative_detail.html' %}

{% load i18n %}
{% load memopol_tags %}

{% block representative_content %}

  <div class="row">
    <div class="col-sm-6 text-center"><h5>{% trans "Current mandates" %}</h5></div>
    <div class="col-sm-6 text-center"><h5>{% trans "Past mandates" %}</h5></div>
  </div>
  <div class="row">
    <div class="col-sm-6 current-mandates">
      {% for mandate in mandates %}
        {% if mandate.end_date|mandate_date:'d/m/Y' == 'present' %}
          {% include "representatives/_mandate_block.html" with weight_threshold=100 %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-sm-6 past-mandates" >
      {% for mandate in mandates %}
        {% if mandate.end_date|mandate_date:'d/m/Y' != 'present' %}
          {% include "representatives/_mandate_block.html" with weight_threshold=0 %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

{% endblock %}
