- extends 'base.html'

- load humanize
- load memopol_tags
- load representatives_recommendations_tags

- block head
  {{ position_form.media }}

- block content
  .row
    - include 'representatives/_representative_block.html' with representative=representative

  .row
    - include 'representatives/_representative_menu.html' with representative=representative

    .col-md-6
      %h2 Mandates

      %table.table.table-condensed.mandates
        - for mandate in mandates
          %tr.mandate
            %td= mandate.role
            %td
              %a{:href => "{% group_url mandate.group %}"}
                {{ mandate.group.name }}
                - if mandate.group.abbreviation
                  {{ mandate.group.abbreviation }}
            %td
              - if mandate.begin_date
                = mandate.begin_date|mandate_date:'d/m/Y'
            %td
              - if mandate.end_date
                = mandate.end_date|mandate_date:'d/m/Y'
            %td= mandate.constituency.name