- extends "base.html"

- block content
  - include 'memopol_representatives/search.html'

  %p
    Number of representatives: {{ representative_num  }}

  %table
    - for representative in representatives
      %tr
        - include 'memopol_representatives/representative_block.html'

  .pagination
    %span.step-links
      - if representatives.has_previous
        %a{'href': '?={queries.urlencode}&page=={representatives.previous_page_number}'} previous

      %span.current
        Page ={representatives.number} of ={representatives.paginator.num_pages}

      - if representatives.has_next
        %a{'href': '?={queries.urlencode}&page=={representatives.next_page_number}'} next
