- extends "base.html"

- block content
  .row
    .large-8.columns
      - for representative in representative_list
        .row
          - include 'memopol_representatives/representative_block.html'
        
    .large-4.columns
      %p
        hello
