%td<
  %a{'href': "{% url 'representatives.detail' ={representative.id} %}"} 
    %img{'src':'={representative.photo}'}/

%td<
  %a{'href': "{% url 'representatives.detail' ={representative.id} %}"} 
    ={representative.full_name} [={representative.country.code}]

%td<
  - for mandate in representative.mandate_set.all
    ={mandate.group.name}
    %br/a

