%p.small-2.columns
  %img{'src':'={representative.photo}'}/
%p.small-4.columns
  = representative.full_name
  [ ={representative.country.code} ]

%p.small-6.columns
  - for mandate in representative.mandate_set.all
    ={mandate.group.name} - ={mandate.end_date} - ={mandate.active}
    %br/a
