{% extends 'base.html' %}

{% block content %}

<a href="{% url 'representatives:index' %}">Back</a>

<p style="float: left">
  <img src="{{ representative.photo }}">
</p>

<h1>{{ representative.full_name }}</h1>

{% for mandate in representative.mandate_set.all %}
{% if mandate.group.kind == "group" %}
<h3>{{ mandate.role }} of {{ mandate.group.name }}</h3>
{% endif %}
{% endfor %}

<p>Born in {{ representative.birth_place }} the {{ representative.birth_date }} ({{ representative.get_gender_display }})</p>
<p>{{ representative.country.name }}</p>

<h2 style="clear: both">Committees</h2>
{% for mandate in representative.mandate_set.all %}
  {% if mandate.group.kind == "committee" %}
    <p>{{ mandate.role }} of {{ mandate.group.name }} ({{ mandate.group.abbreviation }})
  {% endif %}
{% endfor %}

<h2 style="clear: both">Mandates</h2>
{% for mandate in representative.active_mandates %}
<div class="mandate">
  <h3>
    {{ mandate.group.name }}
    <small>
      {{ mandate.role }}
    </small>
  </h3>
  <p>
    {{ mandate.begin_date }} to {{ mandate.end_date }} <br>
    <strong>{{ mandate.group.kind }}</strong> : <em>{{ mandate.group.name }} ({{ mandate.group.abbreviation }})</em> <br>
    Constituency : {{ mandate.constituency.name }} <br>
  </p>
</div>
<hr>
{% endfor %}

<h2>Former mandates</h2>
{% for mandate in representative.former_mandates %}
<div class="mandate">
  <h3>
    {{ mandate.group.name }}
    <small>
      {{ mandate.role }}
    </small>
  </h3>
  <p>
    {{ mandate.begin_date }} to {{ mandate.end_date }} <br>
    <strong>{{ mandate.group.kind }}</strong> : <em>{{ mandate.group.name }} ({{ mandate.group.abbreviation }})</em> <br>
    Constituency : {{ mandate.constituency.name }} <br>
  </p>
</div>
<hr>
{% endfor %}


{% endblock %}
