{% extends 'base.html' %}
{% load by_mandate_url %}

{% block content %}

<a href="{% url 'representatives:index' %}">Back</a>

<p style="float: left">
  <img src="{{ representative.photo }}">
</p>

<h1>{{ representative.full_name }}</h1>
<p>
  <strong>
    <a href="{{ representative.current_group|by_mandate_url }}">
      {{ representative.current_group.role }} of {{ representative.current_group.group.name }}
    </a>
  </strong>
</p>

<p>Born in {{ representative.birth_place }} the {{ representative.birth_date }} ({{ representative.get_gender_display }})</p>
<p>{{ representative.country.name }}</p>

<h2 style="clear: both">Mandates</h2>
{% for mandate in representative.active_mandates %}
<div class="mandate">
  <h3>
    {{ mandate.group.name }}
    <small>
      {{ mandate.role }}
    </small>
  </h3>
  <p>
    {{ mandate.begin_date }} to {{ mandate.end_date }} <br>
    <a href="{{ mandate|by_mandate_url }}">
      <strong>{{ mandate.group.kind }}</strong> : <em>{{ mandate.group.name }} ({{ mandate.group.abbreviation }})</em> 
    </a>
    <br>
    Constituency : {{ mandate.constituency.name }} <br>
  </p>
</div>
<hr>
{% endfor %}

<h2>Former mandates</h2>
{% for mandate in representative.former_mandates %}
<div class="mandate">
  <h3>
    {{ mandate.group.name }}
    <small>
      {{ mandate.role }}
    </small>
  </h3>
  <p>
    {{ mandate.begin_date }} to {{ mandate.end_date }} <br>
    <strong>{{ mandate.group.kind }}</strong> : <em>{{ mandate.group.name }} ({{ mandate.group.abbreviation }})</em> <br>
    Constituency : {{ mandate.constituency.name }} <br>
  </p>
</div>
<hr>
{% endfor %}


{% endblock %}
