@import '../libs/bootstrap/less/bootstrap';
@import '../libs/fontawesome/less/font-awesome';

@import 'font';
@import 'header';
@import 'footer';
@import 'navigation';

body {
    background: #E5E5E5;
}

.container {
    background: white;
}

.main-container {
    padding-top: 15px;
}