a.twitter-link:before,
a.facebook-link:before {
	content: ' ';
	overflow: hidden;

	display: inline-block;
	width: 1.5em;
	height: 1.5em;

	vertical-align: bottom;
}

a.twitter-link:before {
	background-size: 110%;
	background-position: center;
	background-image: url(../images/twitter.png);
}

a.facebook-link:before {
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../images/facebook.png);
}