table.detail-view > tbody > tr > td, table.detail-view > tbody > tr > th {
    border-top: 0;
}

table.detail-view {
    th {
        text-align: right;
    }
    th:after{
        content: ' :';
    }
}

.icon-cell {
    text-align: center;
}

.grid-list-selector {
    // text-align: right;
}