- load bootstrap3

%form{:action => '{% url "representatives_positions:position-create" %}',
      :method => 'post'}
  - csrf_token

  - bootstrap_form form

  - buttons
    %button{'type': 'submit', 'class': 'btn btn-primary'}
      {% bootstrap_icon "star" %} Submit
  - endbuttons
