/ -load memopol_tags cache
- load i18n
- load cache
- load staticfiles

#header.container
  %a{href: "/", id: 'logo'}
    %img{src: '{% static "images/logo.png" %}'}
  %h1
    %a#header_banner{href: "/"}
      -trans "Political Memory"
  %p.organization
    =config.ORGANIZATION_NAME

#nav.container
  -include "core/blocks/navigation.html"

