/ -load memopol_tags cache
- load i18n
- load cache

.row.large-12.head
    #header
        %a{href: "/"}
            %img{src: "https://memopol.lqdn.fr/static/img/logo.png"}/
        %h1
            %a#header_banner{href: "/"}
                -trans "Political Memory"
        %p
            -# =organization_name
            LQDN

    -include "core/blocks/navigation.html"
  -# - cache 3600 memopol_menu
  -# - build_menu


  -#
  -# .row
  -#   .twelve.columns
  -#     #dynamiq_search
  -#       %form{action: "", method: "get"}
  -#         .row.collapse
  -#           .nine.mobile-three.columns{style: "padding-left: 10px;"}
  -#             %input{type: "text", name: "q", value: "{{ dynamiq.form.q.value }}", placeholder: "{% trans 'Find a MEP' %}"}
  -#
  -#           .one.mobile-one.columns
  -#             %input.postfix.button.expand{type: "submit", value: "{% trans 'Search' %}"}
  -#
  -#           .two.mobile-one.columns{style: "padding-left: 10px; margin-top: 7px"}
  -#             %p
  -#               <a href="#" data-reveal-id="advanced_search_modal">advanced</a> - <a href="#" data-reveal-id="simple_search_help">help</a></p>
