.panel.call_data
  %h3
    {% trans "Last tracked votes" %}
    %a{href: "{% url votes:lastest-rss %}"}
      %img{src: "/static/img/rss.png", alt: "rss feed"}
  %ul
    -for proposal in proposals
      %li
        %span{class: "sprite-country_small-{{ proposal.institution }}", alt: "{{ proposal.institution }} flag"}
        <a href="{{ proposal.get_absolute_url }}">{{ proposal.title }}</a> <em>({{ proposal.date }})</em>
