%ul.nav
  %li
    %a{href: "{% url 'legislature:representative-index' %}"}
      Representatives
  %li
    %a{href: "{% url 'legislature:group-index' kind='country' %}"}
      Countries
  %li
    %a{href: "{% url 'legislature:group-index' kind='group' %}"}
      Parties
  %li
    %a{href: "{% url 'legislature:group-index' kind='delegation' %}"}
      Delegations
  %li
    %a{href: "{% url 'legislature:group-index' kind='committee' %}"}
      Committees

%ul.nav
  %li
    %a{href: "{% url 'votes:dossier-index' %}"}
      Votes
