-# -load memopol_tags
-# -load search_tags

%nav.top-bar{'data-topbar': True, 'role': 'navigation'}
    %section.top-bar-section
        %ul.left
            %li
                <a href="#">MEPs list</a></li>
            %li
                <a href="#">Bla</a></li>
            %li
                <a href="#">Blo</a></li>
            %li
                <a href="#">Blo</a></li>
            %li
                <a href="#">Blo</a></li>
            %li
                <a href="#">Blo</a></li>

-#
-# %ul.nav-bar
-#   %li
-#     %a{href: ""}
-#       By name
-#   %li
-#     %a{href: ""}
-#       By total score
-#   -for menu in menus
-#     %li.has-flyout
-#       %a{href: "#"}
-#         =menu.name
-#       .flyout.large{style: "display: none;", id: "{{ menu.id }}"}
-#         .row
-#           -spaceless
-#             -for item in menu.content
-#                 %div{class: "{{ menu.flyout_class }} columns dropdown_menu"}
-#                   %a{href: ""}
-#                     -if item.image
-#                       %img{src: "{{ item.image }}"}
-#                     -elif item.code
-#                       %span.label
-#                         =item.code
-#                     -elif item.sprite
-#                       %span{class: "{{ item.sprite }}"}
-#                     =item.display
-#   %li
-#     %a{href: ""}
-#         By floor
-#   %li
-#     %a{href: ""}
-#       Former MEPs
