%ul.nav-bar
  %li
    %a{href: "{% url 'legislature:representative_index' %}"}
      Representatives
  %li
    %em By :
  %li
    %a{href: "{% url 'legislature:group_index' kind='country' %}"}
      Countries
  %li
    %a{href: "{% url 'legislature:group_index' kind='group' %}"}
      Parties
  %li
    %a{href: "{% url 'legislature:group_index' kind='delegation' %}"}
      Delegations
  %li
    %a{href: "{% url 'legislature:group_index' kind='committee' %}"}
      Committees
      
%ul.nav-bar
  %li
    %a{href: "{% url 'votes:dossier_index' %}"}
      Votes
