.pagination-block

  %nav
    %ul.pagination.pagination-sm
      - if page.has_previous
        %li
          %a{'href': '?={queries.urlencode}&page=={page.previous_page_number}',
             'aria-label': 'Previous'}
            <i aria-hidden="true" class="fa fa-chevron-left"></i>

      - for p in page.pages
        - if p
          - if p == page.number
            %li.active
              %a{'href': ''}
                {{ p }}
          - else
            %li
              %a{'href': '?={queries.urlencode}&page=={p}'}
                {{ p }}
        - else
          %li.disabled
            %a{'href': ''}
              …

      - if page.has_next
        %li
          %a{'href': '?={queries.urlencode}&page=={page.next_page_number}',
             'aria-label': 'Next'}
            <i aria-hidden="true" class="fa fa-chevron-right"></i>

  %div.count
    Number of results : {{ paginator.count }}
    %br
    Number of displayed results :
    {{ paginator.per_page }}
    (
    - for limit in pagination_limits
      %a{'href': '?limit={{ limit }}'}
        {{ limit }}
      - if not forloop.last
        \/
    )
    - include 'core/blocks/grid-list.html'
