-load memopol2 memopol_tags cache

-cache 86400 representative_list_item result_mep.id
  -with mep=result_mep.object
    .floor.twelve.list_item
      .row.panel
        .four.columns.flat.mobile-four
          .five.columns.flat.mobile-two
            %a{class: "th", href: "{{ mep.get_absolute_url }}"}
              %img{width: "100px", src: "{% url meps:mep-picture mep.ep_id %}"}

          .seven.columns.mobile-two
            .panel.radius{class: "{{ mep.total_score|scolorize }}"}
              =mep.total_score|floatformat:1
            %div
              =mep.country_tag|safe
            %div
              =mep.group_tag|safe

        .six.columns
          .row
            %h4
              %a{href: "{{ mep.get_absolute_url }}", style: "color: black;"}
                =mep
          .row
            -for achievement in mep.achievements.all
              -render_achievement achievement
          .row
            %ul
              -for post in mep.important_posts
                %li
                  <a href="{{ post.instance.get_absolute_url }}">{{ post.instance.name }}</a>
                  -if not post.role|lower == "member"
                    ({{ post.role|lower }})

        .two.columns.mobile-four
          -if mep.active and mep.bxl_phone1
              -call_now mep.bxl_phone1
          %a.button.secondary.list_item_details_switcher{href: "{{ mep.get_absolute_url }}"}
            Details

      .row.panel.list_item_details.off
        .twelve.columns
          %ul.rep_details
            -if mep.bxl_phone1
              %li
                %strong
                  -trans "Brussels"
                {% trans "Tel." %}: <a href="callto://{{ mep.bxl_phone1|phone }}">{{ mep.bxl_phone1 }}</a>&nbsp;—&nbsp;<a href="callto://{{ mep.bxl_phone2|phone }}">{{ mep.bxl_phone2 }}</a>&nbsp;<br/>

            -if mep.stg_phone1
              %li
                %strong
                  -trans "Strasbourg"
              {% trans "Tel." %}: <a href="callto://{{ mep.stg_phone1|cut:" " }}">{{ mep.stg_phone1 }}</a>&nbsp;—&nbsp;<a href="callto://{{ mep.stg_phone2|cut:" " }}">{{ mep.stg_phone2 }}</a>&nbsp;<br/>

            -if mep.emails
              %li
                %strong
                  {% trans "E-mail" %}:
                -for email in mep.emails
                  %a{href: "mailto:{{ email }}"}
                    =email
                  -if not forloop.last
                  —
