-load memopol_tags

.panel
  %h3
    One MEP at random
  .row
    .six.columns
      %a{href: "{{ mep.get_absolute_url }}"}
        %img{src: "{% url meps:mep-picture mep.ep_id %}", width: "100px", height: "150px"}

    .six.columns
      .panel.radius{class: "{{ mep.total_score|scolorize }}"}
        =mep.total_score|floatformat:1
      =mep.country_tag|safe

  %h4
    %a{href: "{{ mep.get_absolute_url }}", style: "color: black;"}
      =mep
  %p
    %a{href: "{% url meps:index_by_group mep.group.abbreviation %}"}
      {{ mep.group.name }} ({{ mep.group.abbreviation }})
  %a{href: "{{ mep.get_absolute_url }}"}
    More…
