-load dynamiq_tags

-render_dynamiq_advanced_formset request dynamiq.formset

-comment
  form "action" parameter is filled in javascript by dynamiq, but for this it needs a model select (for choosing which model to search). We don't have this
  select for now, so fill the parameter on our side.
  Nota: trying to fix this in dynamiq upstream is not that easy, because, initially being made for admin, the URL depends on the searched model (via a
  data-xxx paramter set on all the select options).

%script{type: "text/javascript"}
  $('.search_form').each(function(idx, item) {
      item.action = "{% url search %}";
  });
