- if sort.fields|length > 0
  .sorting-block
    Order by :

      - for field, label in sort.fields.items
          - if sort.field == field
            {{ label }}
          - else
            %a{'href': '?={queries.urlencode}&sort_by=={field}'}<
              {{ label }}

          - if not forloop.last
            =" | "

      &ndash;

      - if sort.dir == 'asc'
        ascending |
        %a{'href': '?={queries.urlencode}&sort_dir=desc'}<
          descending
      - else
        %a{'href': '?={queries.urlencode}&sort_dir=asc'}<
          ascending
        ="| descending"
