.panel.callout
    %h3
        What is memopol?
    %p
        Political  Memory is a tool designed by La Quadrature du Net to help
        European citizens to reach members of European Parliament (MEPs) and
        track their voting records on issues related to fundamental
        freedoms online. <em><a href="">More...</a></em>
