{% load i18n %}

{% trans "Order by" %}

<div class="btn-group" id="orderby">
  <button class="btn btn-default dropdown-toggle" type="button" id="orderby-button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true">
    {% for field, label in sort.fields.items %}
      {% if sort.field == field %}{% trans label %}{% endif %}
    {% endfor %}
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu" aria-labelledby="orderby-button">
    {% for field, label in sort.fields.items %}
      <li {% if sort.field == field %}class="disabled"{% endif %}>
        <a href="?{{ sort_querystring.urlencode }}&sort_by={{ field }}">{% trans label %}</a>
      </li>
    {% endfor %}
  </ul>
</div>
<div class="btn-group" id="orderdir">
  <button class="btn btn-default dropdown-toggle" type="button" id="orderdir-button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true">
    {% if sort.dir == 'asc' %}{% trans "ascending" %}{% else %}{% trans "descending" %}{% endif %}
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu" aria-labelledby="orderdir-button">
    <li {% if sort.dir == 'asc' %}class="disabled"{% endif %}>
      <a href="?{{ sort_querystring.urlencode }}&sort_dir=asc">{% trans "ascending" %}</a>
    </li>
    <li {% if sort.dir == 'desc' %}class="disabled"{% endif %}>
      <a href="?{{ sort_querystring.urlencode }}&sort_dir=asc">{% trans "descending" %}</a>
    </li>
  </ul>
</div>