- extends "base.html"

- block content
    .row
        .large-8.columns
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam maximus blandit nisl ut tempor. Vivamus feugiat, dui ut imperdiet tincidunt, arcu mi efficitur arcu, eget interdum urna sapien in nunc. Nam vestibulum orci nec purus aliquet, nec imperdiet nulla consequat. Phasellus ac lorem tortor. Suspendisse sit amet ullamcorper magna. Morbi congue eu ante at scelerisque. Pellentesque nunc leo, fermentum blandit eros id, facilisis lobortis quam. Etiam tincidunt ante et fermentum imperdiet.
          %p
            Cras eget odio lacus. Donec nisl enim, sagittis id mauris quis, ultrices lacinia dui. Donec a interdum nibh. Nunc nibh tellus, sollicitudin et lacus at, sollicitudin placerat quam. Aliquam egestas nibh quis lorem consequat, eu pharetra velit vestibulum. Fusce pellentesque semper est ac viverra. Quisque dignissim mi magna, in auctor massa vulputate sed. Sed suscipit orci dui, sed mollis felis congue non. Quisque porta nunc nec dui suscipit, non facilisis lectus consequat. Vivamus ipsum felis, volutpat sollicitudin iaculis at, sagittis eu enim. Ut eget auctor neque. Aenean eget est quis felis dapibus aliquet. Duis commodo, turpis sit amet ultrices lacinia, ligula ipsum viverra erat, ac porttitor lacus sapien sed orci.
        .large-4.columns
            - include "core/blocks/what_is_memopol.html"
