{% load i18n %}

<p>
  {% blocktrans %}
    Use this form to submit a public position taken by a representative and
    related to one of the themes followed on this instance of Political Memory.
    Public positions may include blog or social network posts, interviews,
    parliament interventions...
  {% endblocktrans %}
</p>
<p>
  {% blocktrans %}
    Be sure to include a relevant excerpt from the public position as well as
    a valid link that refers to it.  Note that positions will be reviewed by
    the staff before publication.
  {% endblocktrans %}
</p>
