<!DOCTYPE html>
<html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.ico" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    <title>
      {% block title %}Home{% endblock %}
      - The Political Memory of {{ config.ORGANIZATION_NAME }}</title>
    {% load compress %}
    {% load staticfiles %}
    {% compress css %}
    <link rel="stylesheet" href="{% static 'stylesheets/libs.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'stylesheets/base.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'libs/fontawesome/css/font-awesome.min.css' %}" type="text/css" />
    {% endcompress %}
    {% compress js %}
    <script type="text/javascript" src="{% static 'libs/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/bootstrap/dist/js/bootstrap.js' %}"></script>
    {% endcompress %}
    {% block head %}{% endblock %}
  </head>
  <body {% block bodyattrs %}{% endblock %}>
    {% include "core/blocks/header.html" %}
    <div class="container-fluid main-container">
      {% block content %}
      {% endblock %}
    </div>
    {% include "core/blocks/footer.html" %}
  </body>
</html>
