<!DOCTYPE html>
<html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.ico" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    {% block head %}{% endblock %}
    <title>{% block title %}Home{% endblock %} - The Political Memory of {{ organization_name }}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/base.css" type="text/css" />
  </head>
  <body {% block bodyattrs %}{% endblock %}>
    {% include "core/blocks/header.html" %}
    <div class="row main">
      <div class="large-12 main columns">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    {% include "core/blocks/footer.html" %}
  </body>
</html>
