.sprite-common-call_now,
.sprite-common-user,
.sprite-common-user-group,
.sprite-common-user-group-old,
.sprite-common-printer,
.sprite-common-phone,
.sprite-common-mail,
.sprite-common-bullet-red,
.sprite-common-bullet-orange,
.sprite-common-bullet-green,
.sprite-common-bullet-black,
.sprite-common-article{background-image:url('common.png');background-repeat:no-repeat}
.sprite-common-call_now{background-position:0px 0px;width:84px;height:67px;display:inline-block;}
.sprite-common-user{background-position:-84px 0px;width:20px;height:20px;display:inline-block;}
.sprite-common-user-group{background-position:-84px -20px;width:20px;height:20px;display:inline-block;}
.sprite-common-user-group-old{background-position:-84px -40px;width:20px;height:20px;display:inline-block;}
.sprite-common-printer{background-position:0px -67px;width:20px;height:20px;display:inline-block;}
.sprite-common-phone{background-position:-20px -67px;width:20px;height:20px;display:inline-block;}
.sprite-common-mail{background-position:-40px -67px;width:20px;height:20px;display:inline-block;}
.sprite-common-bullet-red{background-position:-60px -67px;width:20px;height:20px;display:inline-block;}
.sprite-common-bullet-orange{background-position:-80px -67px;width:20px;height:20px;display:inline-block;}
.sprite-common-bullet-green{background-position:-104px 0px;width:20px;height:20px;display:inline-block;}
.sprite-common-bullet-black{background-position:-104px -20px;width:20px;height:20px;display:inline-block;}
.sprite-common-article{background-position:-104px -40px;width:20px;height:20px;display:inline-block;}
