.sprite-eu_group-UEN,
.sprite-eu_group-SD,
.sprite-eu_group-PSE,
.sprite-eu_group-PPE-DE,
.sprite-eu_group-NI,
.sprite-eu_group-Id,
.sprite-eu_group-INDDEM,
.sprite-eu_group-GreensEFA,
.sprite-eu_group-GUENGL,
.sprite-eu_group-EPP,
.sprite-eu_group-EFD,
.sprite-eu_group-ECR,
.sprite-eu_group-ALDE{background-image:url('eu_group.png');background-repeat:no-repeat}
.sprite-eu_group-UEN{background-position:0px 0px;width:48px;height:30px;display:inline-block;}
.sprite-eu_group-SD{background-position:-48px 0px;width:30px;height:30px;display:inline-block;}
.sprite-eu_group-PSE{background-position:0px -30px;width:24px;height:30px;display:inline-block;}
.sprite-eu_group-PPE-DE{background-position:-24px -30px;width:30px;height:30px;display:inline-block;}
.sprite-eu_group-NI{background-position:-78px 0px;width:30px;height:30px;display:inline-block;}
.sprite-eu_group-Id{background-position:-78px -30px;width:30px;height:30px;display:inline-block;}
.sprite-eu_group-INDDEM{background-position:0px -60px;width:30px;height:30px;display:inline-block;}
.sprite-eu_group-GreensEFA{background-position:-30px -60px;width:30px;height:30px;display:inline-block;}
.sprite-eu_group-GUENGL{background-position:-60px -60px;width:30px;height:30px;display:inline-block;}
.sprite-eu_group-EPP{background-position:-108px 0px;width:30px;height:30px;display:inline-block;}
.sprite-eu_group-EFD{background-position:-108px -30px;width:30px;height:30px;display:inline-block;}
.sprite-eu_group-ECR{background-position:-108px -60px;width:30px;height:30px;display:inline-block;}
.sprite-eu_group-ALDE{background-position:0px -90px;width:30px;height:30px;display:inline-block;}
