{% load i18n %}

<form class="form-horizontal" target="{% url "representative-list" %}">
    <div class="input-group">
        <label class="sr-only" for="rechercher">{% trans "Search" %}</label>
        <input type="text" class="form-control" name="search" placeholder="{% trans "Search" %}" id="rechercher">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
</form>

<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#formMEP" aria-expanded="false" aria-controls="formMEP">
    {% trans "More search options" %}
</button>

<div class="collapse" id="formMEP">
  <form id="search-form" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3" for="country">{% trans "Country" %}</label>
      <div class="col-sm-9">
        <select class="form-control" id="country">
          <option>{% trans "All" %}</option>
          {% for country in countries %}
          <option value="{{ country.id }}" data-url="{% url "representative-list" group_kind="country" group=country.name %}">
            {{ country.name }}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3" for="party">{% trans "Party" %}</label>
      <div class="col-sm-9">
        <select class="form-control" id="party">
          <option>{% trans "All" %}</option>
          {% for party in parties %}
          <option value="{{ party.pk }}" data-url="{% url "representative-list" group_kind="group" group=party.name %}">
            {{ party.name }}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3" for="delegation">Delegation</label>
      <div class="col-sm-9">
        <select class="form-control" id="delegation">
          <option>{% trans "All" %}</option>
          {% for delegation in delegations %}
          <option value="{{ delegation.pk }}" data-url="{% url "representative-list" group_kind="delegation" group=delegation.name %}">
            {{ delegation.name }}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3" for="committee">Committee</label>
      <div class="col-sm-9">
        <select class="form-control" id="committee">
          <option>{% trans "All" %}</option>
          {% for commitee in committees %}
          <option value="{{ commitee.pk }}" data-url="{% url "representative-list" group_kind="commitee" group=commitee.name %}">
            {{ commitee.name }}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>

    {% comment %}<button type="submit" class="btn btn-default">{% trans "Search" %}</button>{% endcomment %}
  </form>
</div>

{% comment %}
<!-- i don't know what is this list supposed to contain since we already have a 2 click to dossier detail btn -->

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#formDossiers" aria-expanded="false" aria-controls="formDossiers">
  {% trans "Explore the dossiers" %}
</button>

<div class="collapse" id="formDossiers">
  <form class="form-horizontal">

    <div class="form-group">
      <div class="col-sm-12">
        <select class="form-control" id="dossiers">
          <option>All</option>
          <option>Personal data protection: processing of data for the purposes of prevention, investigation, detection or prosecution of criminal offences or execution of criminal penalties, and free movement of data </option>
          <option>ACTA </option>
          <option>Personal data protection: processing and free movement of data </option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  </form>
</div>
{% endcomment %}
