{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}

<div id="intro">
    <h1 class="text-center">
        <img id="logo" src="{% static 'images/logo.png' %}">
        <br>
        {% trans "Political memory" %}
    </h1>
    <p class="lead text-center hidden-xs">{% trans "What is Memopol ?" %}</p>
    <p class="text-justify hidden-xs">{% trans "Political Memory is a tool designed by La Quadrature du Net to help citizens reach their representative and track their voting records on issues related to fundamental freedoms online." %}</p>
    <div class="container-fluid hidden-xs">
        <div class="row">
            <div class="col-sm-6">
                <a class="btn btn-primary hidden-print" data-toggle="modal" data-target="#addposition" aria-expanded="false" aria-controls="addposition">
                    {% bootstrap_icon "bullhorn" %}
                    Add a public position
                </a>

            </div>
            <div class="col-sm-6 text-right">
                <a class="btn btn-default">{% trans "More on our blog" %}</a>
            </div>
        </div>
    </div>
</div>