{% load i18n %}

<h1 class="text-center"><span class="glyphicon glyphicon-eye-open"></span><br/>Political memory</h1>

<p class="lead text-center">{% trans "What is Memopol ?" %}</p>
<p class="text-justify">{% trans "Political Memory is a tool designed by La Quadrature du Net to help European citizens to reach members of European Parliament (MEPs) and track their voting records on issues related to fundamental freedoms online." %}</p>

<div class="container-fluid">
    <div class="row">
        <div class="pull-right">
            <a href="http://www.memopol.org/" target="blank" class="btn btn-default">{% trans "More on our blog" %}</a>
        </div>
    </div>
</div>
