- load i18n

#footer.container-fluid
  - blocktrans
    Memopol is free software
    <a href="https://github.com/political-memory/political_memory">released</a>
    under the terms of the
    <a href="http://www.gnu.org/licenses/agpl.html">GNU aGPLV3+</a>
  %a{href: "https://github.com/political-memory/political_memory/issues"}
    - trans "Bug tracking system"
  %a{href: "https://github.com/political-memory/political_memory/issues/new"}
    - trans "Report a bug"
  %br
  {% trans "Provided by" %} <a href="http://www.laquadrature.net/">La Quadrature du Net</a>
