- load i18n

#footer.container-fluid
  - blocktrans
    Memopol is free software
    <a href="https://gitorious.org/memopol2-0">released</a>
    under the terms of the
    <a href="http://www.gnu.org/licenses/agpl.html">GNU aGPLV3+</a>
  %a{href: "https://projets.lqdn.fr/projects/mempol"}
    - trans "Bug tracking system"
  %a{href: "https://projets.lqdn.fr/projects/mempol/issues/new"}
    - trans "Report a bug"
  %br
  {% trans "Provided by" %} <a href="http://www.laquadrature.net/">La Quadrature du Net</a>
