/ -load memopol_tags cache
- load i18n
- load cache
- load staticfiles

#header.container-fluid
  %a{href: "/", id: 'logo'}
    %img{src: '{% static "images/logo.png" %}'}
  %h1
    %a#header_banner{href: "/"}
      -trans "Political Memory"
  %p.organization
    =request.site.SITE_NAME

#nav.container-fluid
  %ul.nav
    %li
      %a{href: "{% url 'representatives:representative-list' %}"}
        - trans 'Representatives'
    %li
      %a{href: "{% url 'representatives:group-list' kind='country' %}"}
        - trans 'Countries'
    %li
      %a{href: "{% url 'representatives:group-list' kind='chamber' %}"}
        - trans 'Chambers'
    %li
      %a{href: "{% url 'representatives:group-list' kind='group' %}"}
        - trans 'Parties'
    %li
      %a{href: "{% url 'representatives:group-list' kind='delegation' %}"}
        - trans 'Delegations'
    %li
      %a{href: "{% url 'representatives:group-list' kind='committee' %}"}
        - trans 'Committees'
    %li
      %a{href: "{% url 'representatives_votes:dossier-list' %}"}
        - trans 'Dossiers'
