<div class="modal fade" id="addposition" tabindex="-1" role="dialog" aria-labelledby="btn-position">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add a MEP's public position</h4>
            </div>
            <div class="modal-body">
                
                <p class="text-justify">Cronut pop-up gluten-free, cliche Carles chillwave salvia roof party Blue Bottle. Craft beer post-ironic photo booth whatever literally DIY lomo, shabby chic fashion axe. Cardigan meh master cleanse, McSweeney's hashtag Etsy Pinterest forage viral XOXO freegan narwhal. Pour-over Brooklyn asymmetrical flannel pork belly four loko. Crucifix tote bag you probably haven't heard of them, organic synth stumptown occupy. Seitan plaid Williamsburg selvage single-origin coffee, tattooed PBR occupy art party whatever Banksy. Tumblr kale chips food truck tofu kitsch, chambray Etsy pork belly.</p>

                <form class="form-horizontal">
                    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="MEPname">MEP</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="MEPname">
                                    <option></option>
                                    <option>Jan Philipp ALBRECHT</option>
                                    <option>Martina ANDERSON</option>
                                    <option>Sergio Gaetano COFFERATI</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="date">Date</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="date" placeholder="Today">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="points">Points</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="points" placeholder="0">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="theme">Theme</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="theme">
                                    <option>Any</option>
                                    <option>Personal data protection: processing of data for the purposes of prevention, investigation, detection or prosecution of criminal offences or execution of criminal penalties, and free movement of data </option>
                                    <option>ACTA </option>
                                    <option>Personal data protection: processing and free movement of data </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="dossier">Dossier</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="dossier">
                                    <option>Any</option>
                                    <option>Personal data protection: processing of data for the purposes of prevention, investigation, detection or prosecution of criminal offences or execution of criminal penalties, and free movement of data </option>
                                    <option>ACTA </option>
                                    <option>Personal data protection: processing and free movement of data </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="tags">Tags</label>
                            <div class="col-sm-10">
                                <input type="url" class="form-control" id="source" placeholder="ACTA, Net neutrality, ...">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-12">
                        <hr/>
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="text">Transcript</label>
                            <div class="col-sm-11">
                                <textarea class="form-control" id="text" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="source">Source link</label>
                            <div class="col-sm-11">
                                <input type="url" class="form-control" id="source" placeholder="https://">
                            </div>
                        </div>
                    </div>
                    
                </form>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add this public position</button>
            </div>
        </div>
    </div>
</div>
