<!DOCTYPE html>
<html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.ico" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
      <title>{% block title %}Home - Political Memory{% endblock %}</title>
    {% load compress %}
    {% load staticfiles %}
    {% compress css %}
    <link rel="stylesheet" href="{% static 'libs/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'libs/fontawesome/css/font-awesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'libs/flag-icon-css/css/flag-icon.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'scss/base.scss' %}" type="text/x-scss" />
    {% endcompress %}
    {% compress js %}
    <script type="text/javascript" src="{% static 'libs/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/bootstrap/dist/js/bootstrap.js' %}"></script>
    {% endcompress %}
    {% block head %}{% endblock %}
  </head>
  <body {% block bodyattrs %}{% endblock %}>
    {% include "_header.html" %}
    <div class="container-fluid main-container">
      {% block content %}
      {% endblock %}
    </div>
    {% include "_footer.html" %}
  </body>
</html>
