- extends "base.html"
- block content
  .row
    .col-md-8
      %p
        Memopol is reachable only in <b>reduced functionality mode</b>.
        By the way, you could access to
        <a href="{% url 'representatives:representative-list' %}">the list of MEPs</a>.
      %p
        You can help on building the new Memopol by <a href="https://wiki.laquadrature.net/Projects/Memopol/Roadmap">coding, translating, de    signing, funding, etc...</a>.
    .col-md-4
      .panel.panel-default
        .panel-body
          %p
            <a href="http://memopol.org">Memopol Blog</a> is available as well as the new
            <a href="http://github.com/political-memory/political_memory">
            bugtracking system</a>
          %h3
            What is memopol?
          %p
            Political  Memory is a tool designed by La Quadrature du Net to help
            European citizens to reach members of European Parliament (MEPs) and
            track their voting records on issues related to fundamental
            freedoms online.
