{% if paginator and paginator.num_pages > 1 %}
<nav class="text-center">
  <ul class="pagination">
    {% if page_obj.has_previous %}
	<li><a href="?{{searchparameters.urlencode}}&page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span></a>
    </li>
    {% else %}
    <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
    {% endif %}

    {% for page in paginator.page_range %}
    {% if page_obj.number|add:"5" > page and page_obj.number|add:"-5" < page %}
	<li {% if page == page_obj.number %}class="active"{% endif %}><a href="?{{searchparameters}}&page={{page}}">{{ page }}</a></li>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
	<li>
	  <a href="?{{searchparameters}}&page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
	</li>
    {% else %}
    <li class="disabled"><span aria-hidden="true">&raquo;</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
