.group-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;

	vertical-align: bottom;
	background-size: 100%;

	&.group-icon-alde {
		background-image: url(../images/group-alde.png);
	}
	&.group-icon-ecr {
		background-image: url(../images/group-ecr.png);
	}
	&.group-icon-enf {
		background-image: url(../images/group-enf.png);
	}
	&.group-icon-efdd {
		background-image: url(../images/group-efdd.png);
	}
	&.group-icon-epp {
		background-image: url(../images/group-epp.png);
	}
	&.group-icon-guengl {
		background-image: url(../images/group-guengl.png);
	}
	&.group-icon-greensefa {
		background-image: url(../images/group-greensefa.png);
	}
	&.group-icon-sd {
		background-image: url(../images/group-sd.png);
	}
}
