.representative {
    h1 {
        text-align: center;
    }
    p.photo {
        text-align: center;
    }
    tr.score {
        th {
            vertical-align: bottom;
        }

        td {
            font-size: 1.4em;
            .label {
                padding: 2px;
            }
        }
    }
}

.positions form {
    width: 50%;
    margin: auto;
}

.vote_negative {
    color: red;
}

.vote_positive {
    color: green;
}

.vote_abstain {
    color: #333;
}

.date-cell {
    white-space: nowrap;
}

.representative_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .representative_item {
        width: 300px;
        margin: 2px;
        padding: 10px;
        // border: 1px solid black;
        background: #f5f5f5;

        .photo {
            float: left;
        }

        .name {
            font-weight: bold;
        }

        ul {
            list-style-type: none;
            text-indent: 10px;
        }
    }
}

.representative_item.inactive,
.representative.inactive {
    .photo img {
        -webkit-filter: greyscale(1);
        -moz-filter: grayscale(1);
        -ms-filter: grayscale(1);
        -o-filter: grayscale(1);
        filter: grayscale(1);

        opacity: 0.5;
    }
}