{% extends 'base.html' %}
{% load i18n %}
{% load memopol_tags %}

{% block title %}{% trans "Members of the European Parliement" %}{% endblock %}

{% block container-class %}custom-listMEP{% endblock %}
{% block content %}

<h1 class="text-center">{% trans "Representatives" %}</h1>
<p class="lead text-center">
  Found {{ paginator.count }} {% trans "representatives" %}.
</p>

{% include "blocks/listheader.html" %}

<div class="row card-list">
  {% for representative in object_list %}
  <div class="col-xs-12 col-md-4 representative-card">
    <div class="thumbnail">
      <a href="{% url 'representative-detail' slug=representative.slug %}" class="custom-thumbnail custom-invisible">
        <div class="row">
          <div class="col-xs-5">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="img-responsive" style="background-image: url({{ representative.photo }});">
            <div class="custom-thumbnail-details">
              {% if representative.country %}
              <div class="icon-badge-detail">{{ representative.country|country_flag }} {{ representative.country.name }}</div>
              {% endif %}
              {% if representative.chamber %}
              <div class="icon-badge-detail">{{ representative.chamber|chamber_icon }} {{ representative.chamber.name }}</div>
              {% endif %}
              {% if representative.main_mandate.group %}
              <div class="icon-badge-detail">{{ representative.main_mandate.group|group_icon }} {{ representative.main_mandate.group.abbreviation }}</div>
              {% endif %}
            </div>
          </div>

          <div class="col-xs-7">
            <h4 class="text-center">{{ representative.full_name }}</h4>
            <p class="text-center">
              <br>
              {% if representative.country %}
              {{ representative.country|country_flag }}
              {% endif %}
              {% if representative.chamber %}
              {{ representative.chamber|chamber_icon }}
              {% endif %}
              {% if representative.main_mandate.group %}
              {{ representative.main_mandate.group|group_icon }}
              {% endif %}
            </p>
            <p class="text-right">{{ representative.representative_score.score|score_badge }}</p>
          </div>

        </div>
      </a>
    </div>
  </div>
  {% empty %}
    {% trans "No representatives found !" %}
  {% endfor %}
</div>

{% include "blocks/listfooter.html" %}

{% endblock %}
