{% extends 'representatives_votes/dossier_detail.html' %}

{% load i18n %}
{% load memopol_tags %}

{% block dossier_content %}

  <table class="table table-responsive table-striped">
    <tr>
      <th>{% trans "Proposal" %}</th>
      <th>{% trans "Status" %}</th>
      <th>{{ "for"|position_icon }}</th>
      <th>{{ "against"|position_icon }}</th>
      <th>{{ "abstain"|position_icon }}</th>
      <th>{% trans "Themes" %}</th>
    </tr>

    {% for proposal in proposals %}
      <tr class="proposal">
        <td>
          {{ proposal.title }}
          <br>
          <small>
            {{ proposal.reference }}
          </small>
        </td>

        <td>{{ proposal.status|proposal_status_label }}</td>
        <td>{{ proposal.total_for }}</td>
        <td>{{ proposal.total_against }}</td>
        <td>{{ proposal.total_abstain }}</td>
        <td>
          {% include "blocks/_themetags.html" with themes=proposal.themes.all %}
        </td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
