- extends "base.html"
- load i18n

- block head

  {{ filter.form.media }}

- block content

  - block search

    {% url 'dossier-list' as action_url %}
    - include '_filter_form.html' with action=action_url form=filter.form qs=request.GET.urlencode

  - if object_list|length == 0

    .no-results="No matching dossiers found :("

  - else

    - include 'core/blocks/pagination.html'

    %h1
      - trans "Dossiers"

    %table.table
      %tr
        %th
          - trans "Title"
        %th
          - trans "Recommendations"
        %th
          - trans "Reference"

      - for dossier in object_list
        %tr
          %td
            %a{'href': "{% url 'dossier-detail' dossier.pk %}"}
              {{ dossier.title }}
          %td= dossier.nb_recomm
          %td= dossier.reference

    - include "core/blocks/pagination.html"
