{% extends 'memopol_themes/theme_detail.html' %}

{% load i18n %}
{% load memopol_tags %}

{% block theme_content %}

  <table class="table table-responsive">
    <tr>
      <th>
          {% trans "Representative" %}
      </th>
      <th>
          {% trans "Date" %}
      </th>
      <th>
          {% trans "Position" %}
      </th>
      <th>
        {% trans "Link" %}
      </th>
    </tr>
    {% for position in positions %}
      <tr class="position">
        <td>{{ position.representative }}</td>
        <td>{{ position.datetime }}</td>
        <td>
          <a href="{{ position.get_absolute_url }}">
            {{ position.text|truncatewords:8 }}
          </a>
        </td>
        <td>
          <a href="{{ position.link }}">
            {{ position.link }}
          </a>
        </td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
