- extends "base.html"
- load i18n
- load memopol_tags

- block head

  {{ filter.form.media }}

- block content

  - block search

    {% url 'theme-list' as action_url %}
    - include '_filter_form.html' with action=action_url form=filter.form qs=request.GET.urlencode

  - if object_list|length == 0

    .no-results="No matching themes found :("

  - else

    - include 'core/blocks/pagination.html'

    %h1
      - trans "Themes"

    %table.table
      %tr
        %th
          - trans "Name"

      - for theme in object_list
        %tr
          %td=
            %a{'href': "{% url 'theme-detail' theme.slug %}"}
              {{ theme.name }}

    - include "core/blocks/pagination.html"
