{% extends "base.html" %}

{% load fontawesome %}
{% load i18n %}
{% load humanize %}

{% block title %}{% trans "Themes" %}{% endblock %}

{% block content %}
<h1 class="text-center">{% trans "Themes" %}</h1>
<p class="lead text-center">
{% blocktrans count counter=paginator.count %}{{ counter }} theme{% plural %}{{ counter }} themes{% endblocktrans %}.
</p>

{% include "blocks/listheader.html" %}

<div class="row card-list">
  {% for theme in object_list %}
    <div class="col-xs-12 col-md-4 theme-card">
      <div class="thumbnail">
        <a href="{% url 'theme-detail' slug=theme.slug %}" class="custom-thumbnail custom-invisible">
        <div class="row">

          <div class="col-xs-12">
            <h4 class="text-center">{{ theme.name }}</h4>

            <p class="text-center lead">
              &nbsp;

              {% if theme.nb_links > 0 %}
                <span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Links' %}">
                  {% fontawesome_icon "link" %}
                  <span class="badge">{{ theme.nb_links }}</span>
                </span>
              {% endif %}

              {% if theme.nb_dossiers > 0 %}
                <span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Dossiers' %}">
                  {% fontawesome_icon "book" %}
                  <span class="badge">{{ theme.nb_dossiers }}</span>
                </span>
              {% endif %}

              {% if theme.nb_proposals > 0 %}
                <span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Proposals' %}">
                  {% fontawesome_icon "pencil" %}
                  <span class="badge">{{ theme.nb_proposals }}</span>
                </span>
              {% endif %}

              {% if theme.nb_positions > 0 %}
                <span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Public positions' %}">
                  {% fontawesome_icon "comment" %}
                  <span class="badge">{{ theme.nb_positions }}</span>
                </span>
              {% endif %}

              &nbsp;
            </p>
          </div>
        </div>
        </a>
      </div>
    </div>
  {% endfor %}
</div>

{% include "blocks/listfooter.html" %}

{% endblock %}
