{
    "debug": true,
    "secret_key": "notsecret",
    "compotista_server": "http://compotista.dev.laquadrature.net/",
    "toutatis_server": "http://toutatis.dev.laquadrature.net/",
    "redis_db": 0,
    "organization": "local",
    "local": true,
    "database_name": "db.sqlite",
    "database_user": "",
    "database_password": "",
    "database_host": "",
    "database_port": ""
}
