@font-face {
  font-family: "propagandaregular";
  src: url("../font/propagan-webfont.eot");
  src: url("../font/propagan-webfont.eot?#iefix") format("embedded-opentype"), url("../font/propagan-webfont.woff") format("woff"), url("../font/propagan-webfont.ttf") format("truetype"), url("../font/propagan-webfont.svg#propagandaregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "sansus_webissimoitalic";
  src: url("../font/sansus_webissimo-italic-webfont-webfont.eot");
  src: url("../font/sansus_webissimo-italic-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../font/sansus_webissimo-italic-webfont-webfont.woff") format("woff"), url("../font/sansus_webissimo-italic-webfont-webfont.ttf") format("truetype"), url("../font/sansus_webissimo-italic-webfont-webfont.svg#sansus_webissimoitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "sansus_webissimoregular";
  src: url("../font/sansus_webissimo-regular-webfont-webfont.eot");
  src: url("../font/sansus_webissimo-regular-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../font/sansus_webissimo-regular-webfont-webfont.woff") format("woff"), url("../font/sansus_webissimo-regular-webfont-webfont.ttf") format("truetype"), url("../font/sansus_webissimo-regular-webfont-webfont.svg#sansus_webissimoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
li {
  text-decoration: none;
  list-style: none; }

.flat {
  padding-left: 0; }

body {
  background-color: #e5e5e5; }

.main {
  background-color: #fff; }

.button + .button {
  margin-top: 11px; }

.row.panel .columns:first-child {
  padding-left: 0; }

.panel.columns + .columns {
  padding-left: 15px; }

.panel ul {
  margin-left: 0; }

.floor, .row .floor {
  margin-top: 11px;
  margin-bottom: 11px; }

.tabs-content {
  width: 100%; }

h2, h3, h4 {
  font-family: sansus_webissimoregular; }

.panel.call_data li a {
  color: #222; }

.label a {
  color: #505050; }

.label a:hover {
  text-decoration: underline; }

.label.committee, #committees_menu .label {
  display: inline-block;
  width: 4em;
  background-color: #e65b23;
  padding-top: 3px; }

#previousCommittees .label.committee, #previousCommittees #committees_menu .label, #committees_menu #previousCommittees .label {
  background-color: #CCC; }

.role-date {
  float: right;
  margin: 0 15px 0 0; }

.currentRoles {
  margin-bottom: 15px; }

.currentRoles ul li, .oldRoles ul li {
  clear: both; }

table thead td {
  text-align: center; }

#mep_votesTab {
  overflow: auto; }

.scolorized {
  text-align: center;
  background-color: #e5e5e5;
  border-color: #e5e5e5; }

.panel.scolorized {
  width: 80px;
  font-size: 1.5em;
  font-weight: bold;
  padding: 20px 0; }

.panel.scolorized.position {
  font-size: 1em; }

.scolorized.scolorized0 {
  background-color: #d00000;
  border-color: #d00000; }

.scolorized.scolorized1 {
  background-color: #de4f11;
  border-color: #de4f11; }

.scolorized.scolorized2 {
  background-color: #f6b724;
  border-color: #f6b724; }

.scolorized.scolorized3 {
  background-color: #fddc0b;
  border-color: #fddc0b; }

.scolorized.scolorized4 {
  background-color: #fdf70b;
  border-color: #fdf70b; }

.scolorized.scolorized5 {
  background-color: #d1fd0b;
  border-color: #d1fd0b; }

.scolorized.scolorized6 {
  background-color: #a2fd0b;
  border-color: #a2fd0b; }

.scolorized.scolorized7 {
  background-color: #72dc2c;
  border-color: #72dc2c; }

.scolorized.scolorized8 {
  background-color: #3ac609;
  border-color: #3ac609; }

.scolorized.scolorized9 {
  background-color: #379d00;
  border-color: #379d00; }

.scolorized.scolorized10 {
  background-color: #379d00;
  border-color: #379d00; }

.ui-autocomplete {
  background-color: #fff;
  border: 1px solid #e5e5e5; }

.ui-menu-item {
  background-color: #fff; }

.ui-menu-item a {
  display: block;
  padding-left: 10px; }

.ui-menu-item:hover {
  background-color: #5B8EDC;
  cursor: pointer; }

.ui-menu-item:hover a {
  color: #fff; }

#committeesTab a {
  color: #222; }

#dynamiq_search {
  height: 30px; }

#dynamiq_advanced_search {
  display: block; }

#dynamiq_search input[type="text"] {
  color: #c5c5c5;
  font-style: italic; }

.search_form select {
  width: auto; }

.search_form input[type="text"] {
  display: inline; }

.search_toggle {
  text-align: right; }

.label_fragment {
  background: none; }

.label_name, .label_value {
  font-weight: normal;
  font-style: italic; }

.label_lookup, .label_operator {
  color: #5B8EDC; }

.list_item_details {
  display: none; }

.filter_button, .simple_search_options select {
  float: right;
  width: 200px;
  padding: 0;
  height: 28px;
  margin-bottom: 11px;
  line-height: 28px; }

.nav-bar {
  margin-top: 0;
  background-color: #fff;
  border-bottom: 1px solid #EEEEEE;
  height: 30px;
  line-height: 30px; }

.nav-bar > li > a {
  color: #000;
  line-height: 30px;
  text-decoration: none; }

.nav-bar > li:hover {
  background-color: #fff; }

.nav-bar > li:hover a {
  text-decoration: underline; }

.nav-bar > li, .nav-bar > li:last-child {
  border: none; }

.nav-bar > li.has-flyout > a.flyout-toggle {
  display: none; }

.flyout {
  background-color: #fff;
  border: none;
  top: 30px; }

.flyout a {
  text-decoration: none;
  color: #000; }

.nav-bar > li:hover a {
  text-decoration: none; }

.flyout a:hover {
  text-decoration: underline; }

.nav-bar > li.has-flyout > a:first-child:after {
  border: none; }

#countries_menu {
  width: 480px;
  padding: 0 0 0 15px; }

#groups_menu {
  width: 630px;
  padding: 8px 5px 5px 10px; }

#committees_menu {
  width: 480px; }

#committees_menu .dropdown_menu {
  line-height: 1.6em; }

.head {
  background-color: #fff;
  padding-bottom: 11px; }

#header, #footer {
  background: none repeat scroll 0 0 #5B8EDC;
  color: #FFFFFF;
  vertical-align: middle; }

#header {
  padding: 0 20px;
  line-height: 45px; }

#footer {
  padding: 20px;
  text-align: center;
  line-height: 20px; }

#header a {
  color: #fff;
  text-decoration: none; }

#footer a {
  color: #fff;
  text-decoration: underline; }

#header h1 a {
  line-height: 10px;
  font-family: propagandaregular;
  font-size: 26px; }

#header h1 {
  margin: 0; }

#header p {
  font-style: italic;
  padding-left: 20px;
  margin-bottom: 0px; }

#header img {
  float: left;
  width: 74px; }

#footer li {
  display: inline; }

#footer li + li:before {
  content: " | "; }

#footer ul {
  margin-bottom: 11px; }

/*# sourceMappingURL=app.css.map */
