@font-face{
    font-family: 'propagandaregular';
    src: url('../font/propagan-webfont.eot');
    src: url('../font/propagan-webfont.eot?#iefix') format('embedded-opentype'), url('../font/propagan-webfont.woff') format('woff'), url('../font/propagan-webfont.ttf') format('truetype'), url('../font/propagan-webfont.svg#propagandaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'sansus_webissimoitalic';
    src: url('../font/sansus_webissimo-italic-webfont-webfont.eot');
    src: url('../font/sansus_webissimo-italic-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('../font/sansus_webissimo-italic-webfont-webfont.woff') format('woff'), url('../font/sansus_webissimo-italic-webfont-webfont.ttf') format('truetype'), url('../font/sansus_webissimo-italic-webfont-webfont.svg#sansus_webissimoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'sansus_webissimoregular';
    src: url('../font/sansus_webissimo-regular-webfont-webfont.eot');
    src: url('../font/sansus_webissimo-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('../font/sansus_webissimo-regular-webfont-webfont.woff') format('woff'), url('../font/sansus_webissimo-regular-webfont-webfont.ttf') format('truetype'), url('../font/sansus_webissimo-regular-webfont-webfont.svg#sansus_webissimoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

td {
    vertical-align: middle;
}

body {
    background-color: #E5E5E5;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1;
}

#header {
    padding: 0px 20px;
    height: 78px;
    line-height: 45px;
}

.row {
    width: 940px;
    max-width: 100%;
    min-width: 768px;
    margin: 0px auto;
}

#header, #footer {
    background: none repeat scroll 0px 0px #5B8EDC;
    color: #FFF;
    vertical-align: middle;
}

#header img {
    float: left;
    width: 74px;
}

#header h1 {
    margin: 0px;
}

h1 {
font-size: 44px;
}

#header h1 a {
    line-height: 10px;
    font-family: propagandaregular;
    font-size: 26px;
}

#header a {
    color: #FFF;
    text-decoration: none;
}

#header p {
    font-style: italic;
    padding-left: 20px;
    margin-bottom: 17px;
}

p {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 17px;
}

.nav-bar {
    margin-top: 0px;
    background-color: #FFF;
    border-bottom: 1px solid #EEE;
    height: 30px;
    line-height: 30px;
    height: 40px;
    padding: 0px;
}

.nav-bar > li {
    float: left;
    display: block;
    position: relative;
    padding: 0px;
    margin: 0px;
    line-height: 38px;
}

.nav-bar > li > a {
    padding: 0px 20px;
    font-size: 14px;
    text-decoration: none;
    color: #000;
}

li {
    text-decoration: none;
    list-style: inside;
}

.panel. {
    background: none repeat scroll 0% 0% #5B8EDC;
    color: #FFF;
    border-color: #2284A1;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset;
}
.panel {
    background: none repeat scroll 0% 0% #F2F2F2;
    border: 1px solid #E6E6E6;
    margin: 0px 20px 22px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: #222;
    text-rendering: optimizelegibility;
    line-height: 1.1;
    margin-bottom: 14px;
    margin-top: 14px;
}

h2, h3, h4 {
    font-family: sansus_webissimoregular;
}

h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h3 small { font-size: 0.6em; }

.column, .columns {
    float: left;
    min-height: 1px;
    padding: 0px 0px;
    position: relative;
}

.large-12.main {
    background: white;
    padding: 10px;
    width: 920px;
}

.large-8 {
    width: 66.6667%;
} .large-4 {
    width: 33.3333%;
}

#footer {
    padding: 20px 0px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

#footer ul {
    margin-bottom: 11px;
}
#footer li {
    display: inline;
}
#footer a {
    color: #FFF;
    text-decoration: underline;
}
