html, body {
    height: 100%;
}


body {
    background-color: #BCD;
    font: 100% "Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
}

.contentwraper {
    margin-left: 220px;
}

.top_space_2 {
    padding-top: 2em;
}

#content h1, #content h2, #content h3 {
    margin: 1em 0;
}

#content h1.document-title {
    font-size: 150%;
    border-bottom: 2px #497ED5 solid;
}

p {
    margin-bottom: 0.6em;
}

table li a,
a {
    color: #497ED5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li a {
    color: black;
}

li a:hover {
    color: #497ED5;
    text-decoration: underline;
}

li ul li {
    list-style-type: square;
}


.container_12 {
    background-color: #FFF;
    min-height: 100%;
    min-width: 900px;
}

#header {
    background-color: #497ED5;
    background: -webkit-gradient(linear, left top, left bottom, from(#729bdf), to(#497ED5));
    background: -moz-linear-gradient(top,#729bdf,#497ED5);
    color: #ffffff;
    margin-bottom: 20px;
    padding: 0 20px;
    border-bottom: 3px solid #295cb1;
    height: 50px;
    line-height: 45px;
    text-align: right;
    vertical-align: middle;
}

#header h1 {
    float: left;
}

#header h1 a {
    font-size: 1em;
}

#header a {
    vertical-align: middle;
    color: #ffffff;
    margin: 0 5px;
    font-size: 0.7em;
}

#footer {
    background-color: #497ED5;
    color: #ffffff;
    margin: 0px;
    margin-top: 2em;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
    font-size: 0.7em;
}

#footer a {
    color: #ffffff;
    text-decoration: underline;
}

#sidebar {
    width: 185px;
    margin-left: -100%;
    padding-left: 15px;
}

#nav {
    background-color: #eee;
    font-size: 80%;
    text-align: right;
    text-transform: lowercase;
    padding: 5px;
    padding: 20px 5px 200px 0px;
    min-height: 100%;
}

#nav h1, #nav h2 {
    text-transform: capitalize;
    padding: 20px 4px 5px 0px;
    font-size: 16px;
}

#nav ul {
    list-style: none;
}

#nav a:link,
#nav a:visited,
#nav a:active {
    text-decoration: none;
}
#nav a:hover {
    border-bottom: 1px dashed #497ED5; color: #497ED5;
}

h1 {
    font-size: 120%;
}

h2 {
    font-size: 110%;
}

#mainheader {
    font-size: 120%;
    background: url("../img/logo.png") no-repeat ;
    margin-top: -10px;
}

#mainheader a {
    padding-top: 202px;
    display: block;
}

#mainheader h1 {
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    background-color: #497ED5;
    height: 40px;
    line-height: 40px;
    color: #fff;
}
#mainheader a:hover {
    text-decoration: none;
}

.clickable {
    cursor: pointer;
}


.uiform {
    border: 1px #EFEFEF solid;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    /* border-radius */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

.cancel {
    background: url("../img/nicebutton/delete.gif") no-repeat 2px 5px;
}

.download {
    background: url("../img/nicebutton/download.gif") no-repeat 2px 5px;
}

.submit {
    font-weight: bold;
    background: url("../img/nicebutton/add.gif") no-repeat 2px 5px;
}

/* meps */

ul.treelist {
    padding-left: 0px;
}

li ul.treelist {
    padding-left: 10px;
}

li ul.treelist li ul.treelist {
    padding-left: 20px;
}

li ul.treelist li ul.treelist li ul.treelist {
    padding-left: 30px;
}

li ul.treelist li ul.treelist li ul.treelist li ul.treelist {
    padding-left: 40px;
}

#summary
{
    margin: 1em;
}

#summary ul
{
    margin-left: 2em;
}

ul, ol
{
    list-style: disc url("../img/icons/bullet-black.png");
    list-style:circle;
    list-style-position: inside;
}

li {
    margin: .3em;
}


.defaultMugshot {
    float: right;
    border: 0px;
}

.quickView
{
    float: right;
    margin-left: 1em;
    padding-left: 0.5em;
    background: white;
    max-width: 180px;
}

.quickView span
{
    display: block;
    padding: 5px 0px 5px 0px;
}

.mugshot
{
    border: 1px gray solid;
    display: block;
}

.grouplogo
{
    width: 30px;
    height: 30px;
    border: 1px gray solid;
    vertical-align: middle;
    margin-right: 10px;
}

/* collapsible items */

.collapsible
{
    cursor: pointer;
}

.collapsible:hover
{
    background-color: #ffffaa;
}

.collapsed
{
    background-image: url("../img/arrow-right.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    padding-left: 1em;
}

.expanded
{
    background-image: url("../img/arrow-down.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    padding-left: 1em;
}

.col {
    overflow: hidden;
    background: #F5F5F5;
    padding: 1em;
    list-style: none;
}

.col li
{
    float: left;
    width: 50%;
    display: inline;
    margin: 0;
    padding: 0.3em 0;
}

.col li:hover {
    background: #eee;
}

ul.groups, ul.meps, ul.index, ul.party
{
    list-style: none;
}

ul.index li
{
    display: inline-block;
}

ul ul, ul ol, ol ul, ol ol
{
    margin-left: 30px;
}

/* Tables */

table {
    width: 100%;
    border-width: 1px;
    border-spacing: 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid #ccc;
}

table thead {
    background-color: #e6EEEE;
}

table tr th, table tr td {
    min-width: 69px;
    padding: 1em;
}

table tr th, table tr th {
    text-align: center;
}

table tr td, table tr td {
    text-align: left;
}

table thead tr th {
    border: 1px solid #ccc;
}

/* Tables w/ sorting */
table.mep-list .cell-contact,
table.table .cell-contact {
    width:40%;
}

table .cell-score {
    min-width:29px;
    width: 5%;
}

table.mep-list,
table.table {
    font-family:arial;
    margin:10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}

table.mep-list thead tr .header,
table.table thead tr .header {
    background-image: url("../img/bg.gif");
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.mep-list tbody td,
table.table tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}

tr.filters {
    background: #ddd;
}

table tr.filters td{
    padding: 0.5em;
}

#csv {
    float: right;
    display: block;
    clear: both;
}

#livesearch li.odd,
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url("../img/asc.gif");
}
table.tablesorter thead tr .headerSortDown {
    background-image: url("../img/desc.gif");
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #ddd;
}

.toogle-contact {
    text-align: right;
}

#contact a.highlight {
    color: #497ED5;
}

a#call-now {
    float: right;
    margin-top: 20px;
    margin-right: 30px;
}

div#scores li {
    border-style: solid;
    border-width: thin;
    list-style: none;
}

div#scores div.score-color {
    opacity:1;
    width:100%;
    height:0.5em;
}

div#scores div.inner-score {
    padding: 0.2em;
}

form label {
    display: block;
}

form input {
    padding: 6px;
    width: 50%;
}

form textarea {
    width: 100%;
}

form input, form textarea {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

form p {
    padding:0.5em;
    margin:0.5em;
}

form p.submit {
    background: white;
}

input[type="submit"], input.search-submit, form p.submit input, button, .button {
    padding: 3px 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8)) #d8d8d8;
    background: -moz-linear-gradient(top, #efefef, #d8d8d8) #d8d8d8;
    width: auto;
    color: black;
    border: 1px solid #ababab;
    -moz-border-radius: 5px;
    border-radius: 3px;
}

input[type="submit"]:hover, input.search-submit:hover, form p.submit input:hover, button:hover, .button:hover {
    color: #555;
}

form ul.errorlist li {
    color: red;
    margin-left: 1em;
}
form p.error {
    border: thin solid #f66f8a;
    background-color: #fccfd8;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

a.ok, span.ok, div.ok, a.nok, span.nok, div.nok, span.abstention, a.abstention, div.abstention {
    display:inline;
    padding: 6px 0 0 20px;
    color: black;
}

a.ok, span.ok, div.ok {
    background: url("../img/icons/bullet-green.png") no-repeat center left !important;
}

a.nok,span.nok, div.nok {
    background: url("../img/icons/bullet-red.png") no-repeat center left !important;
}

span.abstention, a.abstention, div.abstention {
    background: url("../img/icons/bullet-orange.png") no-repeat center left !important;
}

.clear-all {
    height: 1px;
    clear: both;
}

li.sep {
    height: 1px;
    border-bottom: thin solid #aaa;
    margin: 0.5em 0em;
    list-style: none;
}

.hidden {
    display: none;
}

/* search */

form#simple-search {
    line-height:30px;
}
form#search {
    margin-bottom: 1em;
    padding: 1em;
    background-color: #f5f5f5;
}

input.search-text {
    width: 90%;
}

#search li, #search li input,
#search li label {
    display: inline;
    width: auto;
}
#search p {
    margin: 0px;
}
#search p label {
    display: none;
}

div#livesearch {
    position: absolute;
    z-index: 100000;
    background: #f5f5f5;
    border: 1px solid #ccc;
    font-size: 0.8em;
    border-radius: 2px;
    -moz-border-radius: 2px;;
    padding: 0.5em;
    opacity: 0.9;
}

div#livesearch li {
    margin: 0px;
    padding: 0.5em;
}
div#livesearch li.odd a {
    color: #497ED5;
}

.parties {
    margin-bottom: 30px;
}

ul.votes a, ul.committees a, ul.delegations a, ul.organisations a, ul.parties a, ul.mp-groups a,
a.search-item {
    text-decoration: none;
}
span.search-item-type {
    font-size: 80%;
    color: #999;
}

a.mep-icon, a.mp-icon {
    background: url("../img/icons/user.png") no-repeat top left;
}

div#livesearch ul li, div#search-results ul li, ul.mandates li, ul.groups li, ul.committees li, ul.delegations li, ul.organisations li, ul.parties li, ul.mp-groups li {
    list-style: disc url("../img/icons/user-group.png") outside;
    margin-left: 2em;
}

ul.committees li.old, ul.delegations li.old, ul.organisations li.old, ul.parties li.old, ul.mp-groups li.old {
    list-style: disc url("../img/icons/user-group-old.png") outside;
    margin-left: 2em;
}

ul.committees li.noicon, ul.delegations li.noicon, ul.organisations li.noicon, ul.parties li.noicon, ul.mp-groups li.noicon {
    list-style: none;
}

ul.votes li {
    list-style: disc url("../img/icons/article.png") outside;
    margin-left: 2em;
}


/* contact */

ul#infos {
    list-style-type: none;
    margin: 0px;
}

div.rounded_box {
    margin-right: 200px;
    margin-top: 20px;
    padding: 0.5em 1em 1em 1em;
    border: thin solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f5f5f5;
}

div#contact h2 {
    margin: 0px;
    text-align: center;
    margin-bottom: 0.5em;
    margin-left: 20px;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    font-size: 130%;
}
div#contact ul {
    margin: 0px;
}
div#contact li {
    list-style: none;
}

/* votes */

div.legend {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid #999;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color:#F0F0F6;
    padding: 0.5em;
    margin-bottom: 1em;
    display: inline;
}
div.legend label {
    font-weight: bold;
}

ul.recommendation ul li {
    list-style: none;
}

/* campaigns */

.campaign-intro {
    padding: 0.1em 1em 1em 1em;
    margin: 1em;
    background: #f5f5f5;
}

.feedback-form {
    margin-left: 0em;
    padding: 1em;
    background-color: #f5f5f5;
}

.campaign-feedback { margin-top: 5px; }
.campaign-over { background: #eee; }

.feedback-negative { background: red; color: white; }
.feedback-positive { background: green; color: white; }
.feedback-neutral { background: yellow; color: black; }
.feedback-nocont { background: grey; color: white;}
.feedback-icon:hover > div.feedback-popup { display: block; }
.feedback-popup { position: absolute; border: 1px solid #454545; background: white; padding: 5px; color: black; }

/* Home europe map*/

.map {
    margin: auto;
}

.map-eu {
    border: thin solid black;
    display: block;
}


#europe-map * { fill:none; font-family: helvetica; display: block; }
#europe-map rect { fill:#EEEEF2; }
#europe-map path { fill:#FFFFFF; stroke:#000; stroke-width:8; } 
#europe-map a.eu path { fill:#CDCDFF; border: 2px;}
#europe-map a.eu text { fill: #000; font-size: 200px; }
#europe-map a:hover {  text-decoration: none;}
#europe-map a.eu:hover path { fill:#DDDDFF; stroke-width: 24px;}
#europe-map a.eu:hover text { font-weight: bolder; }

/* Home committees list */

#committees-list ul {
    list-style: none;
}

.committee-abbreviation {
    color: white;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-right: 5px;
    display: inline-block;
    width: 60px;    
    text-align: center;
    font-weight: bold;
    background-color: #E65B23;
}

code {
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 5px;
    border: solid 1px #BBBBBB;
    background-color: #EEEEEE;
}

option.visible {
}

option.not_visible {
    display: none;
}
