#map {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 470px;
}
#map svg {
    height: 100%;
    width: 100%;
}

#map path {
    fill: rgb(70, 70, 70);
}

#map path.not_eu {
    fill: rgb(180, 180, 180);
}

#map path.eu:hover {
    fill: rgb(8,81,156);
    cursor: pointer;
}
