.position {
    border: 1px #EFEFEF solid;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    /* border-radius */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

.position header
{
    padding: 0px;
    margin: 0px;
    background-color: #efefef;
    display: block;
    font-size: 120%;
}



.content {
    display: block;
    margin: 15px 0px 15px 0px;
    padding: 2px;

}

.fields {
    display: block;
    font-size: 80%;
}

.buttons {
    background-color: #efefef;
    display: block;

}
