/*body {
	background: #E8EDED; 
}
*/


#wrapper {
	background: #fff;
	width : 910px;
	margin:auto;
}

#searchfield {
	width: 580px;
}

#select {
	width: 250px;
}

.searchbutton {
	width: 90px;
}


.clear {
	clear:both;
	height: 20px;
	display:block;
}

dl.tabs dd.active {
    border-top: 3px solid #5B8EDC;
    margin-top: -3px;
}

#countries_menu {
    width: 480px;
    padding: 0 0 0 15px;
}

#groups_menu {
    width: 630px;
    padding: 8px 5px 5px 10px;
}

#committees_menu {
    width: 480px;
}
