body{
    background: url("headbg.jpg") no-repeat scroll 0 0 #F9F9F9;
}

#wrap{
    width:950px;
    margin:0 auto;
}
.mp {
    clear:both;
    overflow:hidden;
}
#sort li, .mp li{
    float:left;
    width:14%;
    display:block;

}

#mps .odd{
    background-color:#eee;
}
#mps .even{
    background-color:#ccc;
}
